node_modules/
.env
*.log
VALIDACIONES_REPRODUCTIVAS.md
test-api.http
codigo-ddl-aborto.sql
codigo-ddl.sql
API_DOCUMENTATION.md
migrations/
.env.example
FrontendGranme/
CAMBIOS_REALIZADOS.md
INSTRUCCIONES_DESPLIEGUE_RAILWAY.md
RESUMEN_PROBLEMA_SIMPLIFIED.md